/*
Name: 
Date: 
*/
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "footer footer footer";
}

header{ /*DO NOT REMOVE*/
    grid-area: header;
    background-color: #1b75bc;
    color: #00ff00;
    text-align: center;
}

.side1{ /*DO NOT REMOVE*/
    grid-area: #000;
    background-color:#120949 ;
}

.side2{ /*DO NOT REMOVE*/
    grid-area: #1b75bc;
    background-color:#1b75bc;;
}

.section1{ /*DO NOT REMOVE*/
    grid-area:  section1;
    background-color: #120949;
    color: #00ff00;
    padding: 50px;
    font-family: 'Jomhuria', cursive;
  font-size: 25px;
}

.section2{ /*DO NOT REMOVE*/
    grid-area:section2;
     background-color:#1b75bc;
    color: #00ff00;
    padding: 20px;
    font-family: 'Jomhuria', cursive;
    font-size: 25px;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: #120949;
    background-color:#1b75bc;
    text-align: center;
}

footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color: #120949;
    color:#00ff00;
    text-align: center;
    
}
