/*
Name: 
Date: 
*/

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "footer footer footer";
}

.container > div{ /*DO NOT REMOVE*/
    padding: 10px;
}

header{ /*DO NOT REMOVE*/
    grid-area: header;
    background-color: #1b75bc;
    color: #00ff00;
}

.side1{ /*DO NOT REMOVE*/
    grid-area: #000;
    background-color:#120949 ;
}

.side2{ /*DO NOT REMOVE*/
    grid-area: #1b75bc;
    background-color:#1b75bc;;
}

.section1{ /*DO NOT REMOVE*/
    grid-area:  section1;
    background-color: #120949;
    color: #00ff00;
}

.section2{ /*DO NOT REMOVE*/
    grid-area:#120949;
     background-color:#1b75bc;
    color: #00ff00;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: #120949;
    background-color:#1b75bc;
}

footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color: #120949;
    color:#120949);
}
